section {
    margin-bottom: 30px;
}

#contentwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-bottom: 80px;
}

#featured {
    max-width: 1000px;
    max-height: 760px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid black;
    filter: drop-shadow(3px 3px 3px black)
}

/* TO MAKE THE GALLERY RESPONSIVE FOR DIFFERENT SCREEN LENGTHS */
@media (max-width:1040px)
{
    #featured {
        max-width: 890px;
        max-height: 760px;
    }
}   
@media (max-width:930px)
{
    #featured {
        max-width: 770px;
        max-height: 760px;
    }
}   
@media (max-width:820px)
{
    #featured {
        max-width: 660px;
        max-height: 760px;
    }
}   
@media (max-width:700px)
{
    #featured {
        max-width: 590px;
        max-height: 760px;
    }
}   
@media (max-width:635px)
{
    #featured {
        max-width: 525px;
        max-height: 760px;
    }
}   
@media (max-width:570px)
{
    #featured {
        max-width: 470px;
        max-height: 760px;
    }
}
/* MEDIA QUERY ENDS */

.thumbnail {
    max-width: 120px;
    max-height: 200px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.6;
    margin: 4px;
    border: 2px solid black;
}

.thumbnail:hover {
    opacity: 1;
    transition: 0.3s;
}

.active {
    opacity: 1;
}

#slidewrap {
    margin-top: 15px;
    margin-right: 10px;
    max-width: 560px;
    display: flex;
    min-height: 100px;
    align-items: center;
}

#slider {
    width: 440px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.arrow {
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition: 0.3s;
}

.arrow:hover {
    height: 65px;
    width: 65px;
    opacity: 0.7;
}