body{
    background-color:#191414;
    color:#ffffff;
}
.projects__heading{
    text-align:center;
    padding-top: 40px;
    padding-bottom: 20px;
    color:#1DB954;
    font-weight: bold;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}
.item img{
   border-top-left-radius: 10px;
   border-top-right-radius:10px ;
   width: 100%;
   height: 200px;
   object-fit: cover;
}
.item{
    box-shadow: 0 4px 8px 2px black;
    margin:20px;
    max-width:300px;
   /* border:2px solid red;*/
    border-radius:10px;
    flex:1 1 auto;
    max-height: fit-content;
  }
.item p{
   display:inline-block;
   height:100px;
}
.item footer{
   margin-bottom: 2em;
}
#secretpeek {
    text-align: center;
}
#pbchess{
    text-align: center;
}
#facex{
    text-align: center;
}
#youtube{
    text-align: center;
 }
#echoforme{
    text-align: center;
 }
 #crowdchatting{
    text-align: center;
 }
 #girlmeetup{
    text-align: center;
 }
 #sampark{
    text-align: center;
 }
 #blogsite{
    text-align: center;
 }
 #she{
    text-align: center;
 }
 #portscanner{
    text-align: center;
 }
 #netra{
    text-align: center;
 }
 #friendly{
    text-align: center;
 }
 #codeit{
    text-align: center;
 }
 #learning{
    text-align: center; 
 }
 #store{
    text-align: center; 
 } 
 #fitility{
    text-align: center; 
 } 
 #hacking{
    text-align: center; 
 }
 #sharenlearn{
    text-align: center; 
 } 
 #doclense{
    text-align: center; 
 }
 #art{
    text-align: center; 
 }
 #gitkundli{
    text-align: center; 
 }
 #advance{
    text-align: center; 
 }
 #beginner{
    text-align: center; 
 }
 #jwoc{
    text-align: center; 
 }
 .button{
     cursor: pointer;
     border-radius: 5px;
     border: none;
     color: rgb(63, 61, 61);
     padding: 8px 10px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 8px 2px;
     position: relative;
     align-items:fixed;
 }
 .button:hover{
    background-color: #1DB954;
 }
 .fa{
    color:#ffffff;
    margin-top: 8px;
    position: relative;
    margin-bottom: 2em;
 }
 .fa:hover{
     text-decoration: underline;
 }
 *{
    box-sizing: border-box;
    scroll-behavior: smooth;
 }

.site-footer
{
  background-color:#141414;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#EEEEEE;
}
.site-footer h5
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:5px;
  border-radius:100%;
  background-color:#33353d;
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none

}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.facebook:hover
{
  background-color:#1db954 !important;
}

.social-icons a.linkedin:hover
{
  background-color:#1db954 !important;
}

.social-icons a.github:hover
{
  background-color:#1db954 !important;
}


.jwoc-logo{
  display:inline-block;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}


.hidden{
   display: none;
 }
 
/* Drop Down CSS*/
select {
   display: none;
  
 }
 
 .dropdown {
   position: relative;
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#40FFFFFF", endColorstr="#00FFFFFF", GradientType=0);
   background-color: #f6f6f6;
   border-radius: 6px;
   border: solid 1px #eee;
   box-shadow: 0 1px 0 rgba(0, 0, 0, 0.0075);
   box-sizing: border-box;
   cursor: pointer;
   display: block;
   float: right;
   /* margin-right: 80px; */
   font-size: 14px;
   font-weight: normal;
   height: 42px;
   line-height: 40px;
   outline: none;
   padding-left: 18px;
   padding-right: 30px;
   position: relative;
   text-align: left !important;
   transition: all 0.2s ease-in-out;
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
   white-space: nowrap;
   width: auto;
 }
 .dropdown:focus {
   background-color: #f1f1f1;
 }
 .dropdown:hover {
   background-color: #f3f3f3;
 }
 .dropdown:active, .dropdown.open {
   background-color: #f0f0f0 !important;
   border-color: #e4e4e4;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
 }

.filter-icon{
   color: #333;
    padding-right: 10px;
    font-size: 12px;
}

 .dropdown:after {
   height: 0;
   width: 0;
   border-left: 4px solid transparent;
   border-right: 4px solid transparent;
   border-top: 4px solid #777;
   transform: origin(50% 20%);
   transition: all 0.125s ease-in-out;
   content: "";
   display: block;
   margin-top: -2px;
   pointer-events: none;
   position: absolute;
   right: 10px;
   top: 50%;
 }
 .dropdown.open:after {
   transform: rotate(-180deg);
 }
 .dropdown.open .list {
   transform: scale(1);
   opacity: 1;
   pointer-events: auto;
 }
 .dropdown.open .option {
   cursor: pointer;
 }
 .dropdown.wide {
   width: 100%;
 }
 .dropdown.wide .list {
   left: 0 !important;
   right: 0 !important;
 }
 .dropdown .list {
   box-sizing: border-box;
   transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
   transform: scale(0.75);
   transform-origin: 50% 0;
   box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
   background-color: #fff;
   border-radius: 6px;
   margin-top: 4px;
   padding: 3px 0;
   opacity: 0;
   overflow: hidden;
   pointer-events: none;
   position: absolute;
   top: 100%;
   right: 0;
   z-index: 999;
 }
 .dropdown .list:hover .option:not(:hover) {
   background-color: transparent !important;
 }
 .dropdown .option {
   cursor: default;
   font-weight: 400;
   line-height: 40px;
   outline: none;
   padding-left: 18px;
   padding-right: 29px;
   text-align: left;
   transition: all 0.2s;
 }
 .dropdown .option:hover, .dropdown .option:focus {
   background-color: #f6f6f6 !important;
 }
 .dropdown .option.selected {
   font-weight: 600;
 }
 .dropdown .option.selected:focus {
   background: #f6f6f6;
 }

 @media screen and (max-width : 600px){
  .dropdown {
    width: 66%;
  }
 }
